.booking {
  min-height: 555px;
  background-color: #acdbe4;
  background-image: image-set(
        "../img/booking-bg-desktop.webp" 1x,
        "../img/booking-bg-desktop@2x.webp" 2x,
        "../img/booking-bg-desktop.jpg" 1x,
        "../img/booking-bg-desktop@2x.jpg" 2x
        );
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1023 {
    min-height: 805px;
    background-image: image-set(
        "../img/booking-bg-tablet.webp" 1x,
        "../img/booking-bg-tablet@2x.webp" 2x,
        "../img/booking-bg-tablet.jpg" 1x,
        "../img/booking-bg-tablet@2x.jpg" 2x
        );
  }

  @include vp-767 {
    min-height: 760px;
    background-image: image-set(
        "../img/booking-bg-mobile.webp" 1x,
        "../img/booking-bg-mobile@2x.webp" 2x,
        "../img/booking-bg-mobile.jpg" 1x,
        "../img/booking-bg-mobile@2x.jpg" 2x
        );
  }
}

.booking__text {
  margin: 163px 0 0;

  @include vp-1023 {
    margin: 0;
  }
}

.booking__title {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $color-base-black;

  @include vp-1023 {
    margin: 0 0 4px;
    text-align: center;
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767 {
    margin: 0 0 14px;
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__description {
  width: 75%;
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  color: $color-base-black;

  @include vp-1023 {
    width: 55%;
    margin: 0 auto 52px;
    text-align: center;
  }

  @include vp-767 {
    width: 90%;
    margin: 0 auto 34px;
    font-size: 16px;
    line-height: 22px;
  }

  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}

.booking__form {
  width: 403px;
  justify-self: end;
  padding: 44px 50px 50px;

  @include vp-1023 {
    justify-self: center;
  }

  @include vp-767 {
    width: 290px;
    padding: 33px 30px 40px;
  }
}
