.card {
  &:hover .card__wrapper {
    display: none;
  }

  &:focus-within .card__wrapper {
    display: none;
  }
}

.card__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 386px;
  padding: 30px 30px 21px;
  background-color: #9dc1eb;
  background-size: cover;
  background-repeat: no-repeat;

  @include vp-1023 {
    padding: 30px 35px 26px;
  }

  @include vp-767 {
    padding: 30px 25px 16px;
  }

  &--astoria {
    background-image: image-set(
        "../img/astoria.webp" 1x,
        "../img/astoria@2x.webp" 2x,
        "../img/astoria.jpg" 1x,
        "../img/astoria@2x.jpg" 2x
        );
    background-position: -118px 1px;

    @include vp-1023 {
      background-position: -96px 1px;
    }

    @include vp-767 {
      background-position: -115px 1px;
    }
  }

  &--eline {
    background-image: image-set(
      "../img/eline.webp" 1x,
      "../img/eline@2x.webp" 2x,
      "../img/eline.jpg" 1x,
      "../img/eline@2x.jpg" 2x
      );
  }

  &--atlantis {
    background-image: image-set(
      "../img/atlantis.webp" 1x,
      "../img/atlantis@2x.webp" 2x,
      "../img/atlantis.jpg" 1x,
      "../img/atlantis@2x.jpg" 2x
      );
    background-position: -123px 0;

    @include vp-1023 {
      background-position: -98px 0;
    }

    @include vp-767 {
      background-position: -118px 0;
    }
  }

  &--odissei {
    background-image: image-set(
      "../img/odissei.webp" 1x,
      "../img/odissei@2x.webp" 2x,
      "../img/odissei.jpg" 1x,
      "../img/odissei@2x.jpg" 2x
      );
    background-position: -117px 1px;

    @include vp-1023 {
      background-position: -88px 21px;
    }

    @include vp-767 {
      background-position: -106px 19px;
    }
  }

  &--olimpia {
    background-image: image-set(
      "../img/olimpia.webp" 1x,
      "../img/olimpia@2x.webp" 2x,
      "../img/olimpia.jpg" 1x,
      "../img/olimpia@2x.jpg" 2x
      );
    background-position: -117px 1px;

    @include vp-1023 {
      background-position: -130px 20px;
    }

    @include vp-767 {
      background-position: -134px 16px;
    }
  }

  &--aurora {
    background-image: image-set(
      "../img/aurora.webp" 1x,
      "../img/aurora@2x.webp" 2x,
      "../img/aurora.jpg" 1x,
      "../img/aurora@2x.jpg" 2x
      );
    background-position: -105px 1px;

    @include vp-1023 {
      background-position: -100px 1px;
    }

    @include vp-767 {
      background-position: -119px 1px;
    }
  }

  &--leonor {
    background-image: image-set(
      "../img/leonor.webp" 1x,
      "../img/leonor@2x.webp" 2x,
      "../img/leonor.jpg" 1x,
      "../img/leonor@2x.jpg" 2x
      );
    background-position: -147px 1px;

    @include vp-1023 {
      background-position: -125px 5px;
    }

    @include vp-767 {
      background-position: -143px 5px;
    }
  }

  &--minion {
    background-image: image-set(
      "../img/minion.webp" 1x,
      "../img/minion@2x.webp" 2x,
      "../img/minion.jpg" 1x,
      "../img/minion@2x.jpg" 2x
      );
    background-position: -176px 0;

    @include vp-1023 {
      background-position: -167px 0;
    }

    @include vp-767 {
      background-position: -172px 0;
    }
  }
}

.card__title {
  margin: auto 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 386px;
  padding: 16px 25px 34px;
  overflow-y: auto;
  background-color: $color-base-black;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

  @include vp-1023 {
    padding: 16px 35px 34px;
  }

  @include vp-767 {
    padding: 16px 25px 34px;
  }

  & .card__title {
    padding: 0;
  }

  & .card__description {
    margin: 12px 0 0;
  }

  & .card__designation {
    margin: 0 0 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  & .card__value {
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 20px;
    color: #d8d8d9;
  }

  & .card__button {
    display: block;
    width: 100%;
    margin: auto 0 0;
    padding: 9px 10px 10px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-base-black;
    background-color: $color-base-white;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
}
