.container {
  max-width: 1260px;
  margin: 0 auto;

  &--main-header {
    display: grid;
    grid-template-columns: 1fr 60%;
    align-items: center;
    padding: 32px 50px;

    @include vp-1150 {
      grid-template-columns: 1fr 66%;
    }

    @include vp-1023 {
      grid-template-columns: 1fr 74%;
      padding: 35px 45px;
    }

    @include vp-767 {
      padding: 20px 15px 30px;
    }
  }

  &--main-block {
    padding: 162px 145px 100px;

    @include vp-1023 {
      padding: 158px 45px 70px;
    }

    @include vp-767 {
      padding: 66px 15px 0;
    }
  }

  &--promo-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 38px;
    padding: 120px 50px 145px;

    @include vp-1023 {
      gap: 25px;
      padding: 100px 45px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 50px;
      padding: 65px 15px 85px;
    }
  }

  &--advantages {
    padding: 110px 50px 119px;

    @include vp-1023 {
      padding: 100px 45px;
    }

    @include vp-767 {
      padding: 65px 15px;
    }
  }

  &--cruises {
    padding: 84px 65px 122px;

    @include vp-1023 {
      padding: 100px 60px;
    }

    @include vp-767 {
      padding: 65px 25px;
    }
  }

  &--booking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 50px 110px 40px;

    @include vp-1023 {
      grid-template-columns: 1fr;
      padding: 100px 60px;
    }

    @include vp-767 {
      padding: 65px 15px;
    }
  }

  &--contacts {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
    padding: 120px 50px;

    @include vp-1023 {
      grid-template-columns: auto 1fr;
      gap: 30px;
      padding: 100px 45px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 43px;
      padding: 65px 15px;
    }
  }

  &--main-footer {
    display: grid;
    grid-template-columns: 70px 1fr 106px;
    align-items: center;
    gap: 40px;
    padding: 50px;

    @include vp-1023 {
      grid-template-columns: 38px 1fr 87px;
      gap: 25px;
      padding: 50px 45px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 30px;
      padding: 40px 15px;
    }
  }
}
