.container {
  max-width: 1260px;
  margin: 0 auto;

  &--main-header {
    display: grid;
    grid-template-columns: 1fr 60%;
    align-items: center;
    padding: 32px 50px;

    @include vp-1150 {
      grid-template-columns: 1fr 66%;
    }

    @include vp-1023 {
      grid-template-columns: 1fr 75%;
      padding: 26px 45px 30px;
    }

    @include vp-767 {
      padding: 16px 15px 30px;
    }
  }

  &--main-block {
    padding: 162px 145px 100px;

    @include vp-1023 {
      padding: 182px 45px 70px;
    }

    @include vp-767 {
      padding: 100px 15px 0;
    }
  }

  &--promo-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 38px;
    padding: 120px 50px 145px;

    @include vp-1023 {
      grid-template-columns: 1fr 324px;
      gap: 25px;
      padding: 100px 50px 53px 45px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 44px;
      padding: 67px 15px 85px;
    }
  }

  &--advantages {
    padding: 110px 50px 119px;

    @include vp-1023 {
      padding: 88px 45px 100px;
    }

    @include vp-767 {
      padding: 56px 15px 66px;
    }
  }

  &--cruises {
    padding: 84px 65px 122px;

    @include vp-1023 {
      padding: 90px 60px 100px;
    }

    @include vp-767 {
      padding: 57px 25px 65px;
    }
  }

  &--booking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 50px 110px 40px;

    @include vp-1023 {
      grid-template-columns: 1fr;
      padding: 90px 60px;
    }

    @include vp-767 {
      padding: 59px 15px;
    }
  }

  &--contacts {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
    padding: 120px 50px;

    @include vp-1023 {
      grid-template-columns: auto 1fr;
      gap: 30px;
      padding: 100px 45px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 43px;
      padding: 58px 15px;
    }
  }

  &--main-footer {
    display: grid;
    grid-template-columns: 70px 1fr 106px;
    align-items: center;
    gap: 40px;
    padding: 50px;

    @include vp-1023 {
      grid-template-columns: 38px 1fr 87px;
      gap: 25px;
      padding: 46px 45px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 25px;
      padding: 40px 15px;
    }
  }
}
