.form {
  background-color: $color-base-black;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);

  & h3 {
    margin: 0 0 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    @include vp-767 {
      margin: 0 0 24px;
      text-align: center;
    }
  }

  & input {
    width: 100%;
    margin: 0 0 20px;
    padding: 11px 16px;
    font-family: inherit;
    font-size: 14px;
    line-height: 21px;
    background-color: $color-base-white;
    border: none;

    @include vp-767 {
      padding: 12px 16px 10px;
    }

    &::placeholder {
      font-family: inherit;
      font-size: 14px;
      line-height: 21px;
      color: rgba(1, 28, 64, 0.7);
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  label:last-of-type {
    position: relative;
    display: flex;
    align-items: center;
    margin: 3px 0 31px;
    padding: 0 0 0 23px;
    font-size: 10px;
    line-height: 14px;
    color: $color-default-white;
    cursor: pointer;

    @include vp-767 {
      margin: 0 0 26px;
      padding: 0 0 0 28px;
      line-height: 12px;
    }

    span {
      &::before {
        position: absolute;
        content: "";
        top: -3px;
        left: 0;
        width: 18px;
        height: 18px;
        background: $color-base-white;

        @include vp-767 {
          top: 0;
          width: 20px;
          height: 20px;
        }
      }
    }

    input[type="checkbox"]:checked + span::before {
      background: url("../img/sprite/tick.svg") no-repeat 50% 50%, $color-base-white;
    }

    input[type="checkbox"]:focus-within + span::before {
      outline: 1px solid $color-base-black;
      outline-offset: -2px;
    }

    input[type="checkbox"]:hover + span::before {
      opacity: 0.5;
    }
  }

  button {
    width: 100%;
    padding: 11px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color-base-black;
    background-color: $color-base-white;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  & br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
