.menu__toggle {
  display: none;
}

.menu--closed {
  @include vp-767 {
    & .navigation {
      display: none;
    }

    & .menu__toggle {
      position: absolute;
      right: 15px;
      top: 24px;
      z-index: 2;
      display: block;
      width: 24px;
      height: 13px;
      padding: 0;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    & .menu__toggle-bar {
      display: block;
      width: 24px;
      height: 2px;
      background-color: $color-base-white;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 2px;
        background-color: $color-base-white;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        height: 2px;
        background-color: $color-base-white;
      }
    }
  }
}

.menu--opened {
  @include vp-767 {
    & .navigation {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 89%;
      min-height: 500px;
      padding: 85px 25px 25px;
      background-color: $color-base-white;
    }

    & .main-header__logo {
      position: absolute;
      top: 16px;
      left: 16%;
      z-index: 2;
      fill: $color-base-black;
    }

    & .logo__icon {
      fill: $color-base-black;
    }

    & .navigation__list {
      gap: 28px;
    }

    & .menu__toggle {
      position: absolute;
      right: 10px;
      top: 20px;
      z-index: 2;
      display: block;
      width: 13px;
      height: 13px;
      padding: 11px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    & .menu__toggle-bar {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 3px;
        width: 18px;
        height: 2px;
        background-color: $color-base-black;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    & .navigation__link {
      color: $color-base-black;
    }

    & .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 42, 102, 0.5);
    }
  }
}

.menu--nojs {
  @include vp-767 {
    & .main-header__logo {
      position: static;
      align-self: start;
      fill: $color-base-black;
    }

    & .menu__toggle {
      display: none;
    }

    & .navigation {
      display: block;
      min-height: auto;
      padding: 0;
    }

    & .navigation__list {
      gap: 8px;
    }

    & .navigation__link {
      font-size: 14px;
      line-height: 17px;
      color: $color-base-white;
    }
  }
}
