.navigation__toggle {
  display: none;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 33px;

  @include vp-1023 {
    gap: 23px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.navigation__link {
  font-weight: 500;
  color: $color-base-white;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    gap: 26px;
    font-size: 18px;
    line-height: 22px;
  }
}
