.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;

  @include vp-1023 {
    gap: 22px;
  }
}

.social__icon {
  @include vp-1023 {
    width: 16px;
    height: 16px;

    &--ok {
      width: 10px;
    }
  }
}
